.button {
  color: #199094;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .containerDiv {
  color:#585a3a;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 15%;
  max-width: 510px;
} */

.containerDiv {
  /* display: flex; */
  margin: 0 17%;
  max-width: 510px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: normal;
}

.hostInfo {
  flex: 2;
}

.headerListing {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 8px;
}

.hostImage {
  text-align: center;
  height: 64px;
  width: 64px;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 40px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  border: 1x solid grey;
  padding:0px;
  overflow: hidden;
}

.hostImage img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.homeLocation {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
}

.homeName {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
}

.homeType {
  box-sizing: border-box;
  font-weight: 800;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3333333333333333em;
  text-transform: uppercase;
} 
