.button {
  color: #199094;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.containerDiv {
  color:#585a3a;
  font-family: 'Montserrat', sans-serif;
  margin: 0 17%;
  max-width: 510px;
}

.home_location {
  margin: 0px;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
}

.home_name {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  color: #484848;
  padding-top: 6px;
  padding-bottom: 6px;
}

.home_type {
  box-sizing: border-box;
  font-weight: 800;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3333333333333333em;
  text-transform: uppercase;
} 
